<div class="jumbotron">
  <h2>For all your initiative tracking needs...</h2>
  <p><img src="assets/images/roll.jpg" alt="DM says roll initiative"/></p>
  <p>{{#link-to "party" class="btn btn-lg btn-primary"}}Get rollin'{{/link-to}}</p>
</div>
